{% extends "base.html" %}

{% block main %}
<div class="container-fluid">
    <div class="container-fluid">
        <h1>Online Chat</h1>
    </div>

   


    <div class="col-sm-4"> 
        <form action="" method="POST">
            
            <div class="form-group">
                <label><strong>Enter your User Name</strong></label>
                <input type="text" class="username form-control" id="exampleInputEmail1"  placeholder="User Name">
                
            </div>
            <div class="form-group">
                <label >Enter room ID</label>
                <input type="text" name="room"  placeholder="Message">

            <button type="submit" class="btn btn-primary">Send</button>

    <script>
        var socket = io.connect( 'http://localhost:8080/')
        // broadcast a message
        socket.on( 'connect', function() {
            socket.emit( 'my event', {
            data: 'User Connected'
            } )
        })
            var form = $( 'form' ).on( 'submit', function( e ) {
            e.preventDefault()
            var user_name = $( 'input.username' ).val()
            var user_input = $( 'input.message' ).val()
            console.log(user_name,message)
        })
    //         socket.emit( 'my event', {
    //             user_name : user_name,
    //             message : user_input
    //         } )
    //         // empty the input field
    //         $( 'input.message' ).val( '' ).focus()
    //         } )
    //     } )

        // capture message
        socket.on( 'my response', function( msg ) {
            console.log( msg )
            if( typeof msg.user_name !== 'undefined' ) {
                $( 'h1' ).remove()
                $( 'div.message_holder' ).append( '<div class="msg_bbl"><b style="color: #000">'+msg.user_name+'</b> '+msg.message+'</div>' )
                }
      } )
    </script>

        </form>
    </div>
</div>
    

    <!-- <div id="datejoined"> <h6> {{ date}} </h6> </div>
    
    

</div> -->
{% endblock %}